.header{
    background-color: orangered;
}
.userInfo{
    display: flex;
    justify-content: space-between;
}

.userInfo img{
    width:200px;
    height:75px;
}

.logo{
    display:flex;
}

.logo a img{
    width:50px;
    height:50px;
}

.search{
    display: flex;
    justify-content: center;
}